doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
    script(src='./javascripts/jquery-3.1.0.min.js' type='text/javascript')
    script(src='./javascripts/skycams.js' type='text/javascript')
  body
    block content
